/walk
/tiles
/textures_pack
/platform_tutorial
/Kayzee-master
/env
/backup
/.vscode
/.idea
/123.gif
/adventurer-idle.png
/work_material.py
/Background_edited.tsx
/background_tile.tsx
/glacial_mountains_fullcolor_preview_big.tsx
/houses.tsx
/intro_working.py
/player_idle.png
/test1.py
/test1.tmx
/test2.tmx
/test3.tmx
/test5.py
/test6.py
/vilage.tsx
/work material2.py
